<% if(is_category()){ %>
    <% console.log("CAT LINE 2") %>
    <%- partial('_page/category', {pagination: config.category, index: true}) %>
    <% console.log("CAT LINE 4") %>
<% }else{ %>
    <% console.log("CAT LINE 6") %>
    <div class="container">
        <div class="post-wrap categories">
            <h2 class="post-title">-☆&nbsp;Categories&nbsp;☆-</h2>
            <div class="categories-card">
                <% console.log("LINE 11") %>
                <% site.categories.forEach(category_item=>{ %>
                    <% console.log("hehe") %>
                    <div class="card-item">
                        <div class="categories">
                            <a href="<%- url_for(category_item.path) %>">
                                <h3>
                                    <i class="iconfont icon-category" style="padding-right:3px"></i>
                                    <% console.log("CAT LINE 19") %>
                                    <%- category_item.name %>
                                </h3>
                            </a>
                            <% category_item.posts.forEach((post_item, index = 0)=>{ %>
                                <% console.log(index) %>
                                <% if(++index <= 5){ %>
                                    <article class="archive-item">
                                        <a class="archive-item-link"
                                           href="<%- url_for(post_item.path) %>"><%- post_item.title %></a>
                                    </article>
                                <% } %>
                            <% }) %>
                            <% if(category_item.posts.length > 5){ %>
                                <a class="more-post-link" href="<%- url_for(category_item.path) %>">More >></a>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>
    </div>
<% } %>
<% console.log("CAT Success!") %>